h1,
h2,
h3,
p {
  font-family: "Helvetica", sans-serif;
}

h1 {
  background-image: url("image1.png");
  text-align: center;
  font-size: 100px;
  color: khaki;
}
.price {
  font-weight: bold;
  color: blue;
}

#brush {
  background-color: mediumspringgreen;
}

#frame {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

.item h2 {
  font-size: 32px;
  color: white;
}
